<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ScreenCapturer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <ScreenCapturer.Properties.Settings>
            <setting name="SaveFolder" serializeAs="String">
                <value>logs</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="MouseKeyTriggers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Left</string>
                        <string>Right</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ToggleCaptureKey" serializeAs="String">
                <value>F12</value>
            </setting>
            <setting name="SaveKey" serializeAs="String">
                <value>F11</value>
            </setting>
            <setting name="ColorLeft" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorRight" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorOther" serializeAs="String">
                <value>Lime</value>
            </setting>
        </ScreenCapturer.Properties.Settings>
    </userSettings>
</configuration>
